@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2D750, #F2B035);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(136, 109, 93, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F21B6A;
    text-align: center;
    text-shadow: 1px 1px 2px #98114373;
}

h2 {
    color: #1f1d8d;

}

p {
    text-align: justify;
}