/* Estilos para o menu de navegação */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #444;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    color: #FFD700; /* Cor do texto ao passar o mouse sobre o link */
}
