@charset "UTF-8";

/*-------------------------------------
  DEVICE BREAKPOINTS SEGUNDO W3C:
---------------------------------------
> PEQUENAS TELAS = ATÉ 600PX.
> CELULAR = DE 600PX ATÉ 768PX
> TABLET = DE 768PX ATÉ 992PX
> DESKTOP = DE 992PX ATÉ 1200PX
> TV (TELA GIGANTE) = ACIMA DE 1200PX 
--------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 992px) { /* TABLET */
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 80vw;
        height: 280px;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
    }

    div#formulario > h1 {
        font-size: 1.5em;
    }

    div#formulario > p {
        font-size: 1em;
    }
 }
 
 @media screen and (min-width: 992px) { /* DESKTOP E TV */
    body {
        background-image: linear-gradient(to top, #49a09d, #5f2c82);
    }

    section#login {
        width: 950px;
        height: 350px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario > h1 {
        font-size: 2em;
    }

    div#formulario > p {
        font-size: 1em;
        margin: 20px 0px;
    }
 }
     