@charset "UTF-8";

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu {
    display: none;
}

body > h1 {
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: "Esse site foi impresso através do CURSO EM VIDEO!";
}